@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);


--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    background: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    padding: 3em 0;
    font-size: 15px;
    font-family: "Spartan";
}
main {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 3em;
}
main > * + * {
    margin-top: 2em;
}
.description {
    text-align: center;
    margin-top: 1em;
}

.rating {
    text-align: center;
    background: var(--light-grayish-magenta);
    padding: .9em;
    border-radius: 8px;
}
.rating + .rating {
    margin-top: 1em;
}
.rating p {
    margin-top: .4em;
}

.reviews {
    background: var(--very-dark-magenta);
    border-radius: 8px;
    overflow: hidden;

    padding: 2em;
}
.reviews + .reviews {
    margin-top: 1em;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.person img {
    border-radius: 50%;
    margin-right: 1em;
    transform: scale(.75, .75);
}

/* typography */
.foremost {
    color: var(--very-dark-magenta);
    font-weight: 700;
}
.description {
    color: var(--dark-grayish-magenta);
    line-height: 1.8em;
}
.rating {
    color: var(--very-dark-magenta);
    font-size: .8rem;
    font-weight: 700;
}

.name {
    color: var(--light-grayish-magenta);
    font-size: .9rem;
}
.verified {
    display: block;
    color: var(--soft-pink);
    margin-top: .3em;
}
.personal-review {
    color: var(--dark-grayish-magenta);
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.6;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1em;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
  }


  @media (min-width: 900px) {
      body {
        background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        height: 100vh;
        padding: 5em 0;
      }
      main{
          max-width: 1000px;
          display: flex;
          flex-wrap: wrap;
      }
      .introduction {
          flex:1;
          margin-right: 15em;
          text-align: left;
      }
      .description{
          text-align: left;
      }
      .rates-container {
          flex: 1;
          display: flex;
          flex-direction: column;
      }
      .rating {
          padding: .9em 2em;
          display: flex;
          align-items: center;
      }
      .rating:nth-of-type(1) {
          transform: translateX(-8em);
      }
      .rating:nth-of-type(2) {
          transform: translateX(-4em);
      }
      .rating p {
          margin-left: 2em;
      }
      .reviews-container {
          display: flex;
          margin-bottom: 5em;
      }
      .reviews + .reviews {
          margin: 0;
          margin-left: 1em;
      }
      .reviews:nth-of-type(2) {
          transform: translateY(2em)
      }
      .reviews:nth-of-type(3) {
        transform: translateY(4em)
    }

  }